<div #start class="w-full flex">
  <section
    class="w-full text-gray-800 text-center lg:text-left background-radial-gradient"
  >
    <div
      class="relative overflow-hidden bg-no-repeat bg-cover"
      style="
        background-position: 50% 100%;
        background-image: linear-gradient(
            to right,
            rgba(255, 255, 255, 0),
            rgba(99, 99, 99, 0.3)
          ),
          url('../../../../../assets/_assets/home/s1/2ringe_biebel.png');

        height: 50vh;
      "
    >
      <div class="flex flex-col h-[50vh] max-w-screen-xl mx-auto">
        <div class="flex justify-center lg:justify-end items-center flex-grow">
          <div class="rounded-sm text-center p-6 lg:mr-3">
            <h1
              class="text-4xl mb-2 font-bold"
              style="color: var(--background) !important"
            >
              Puls der Zeit
            </h1>
            <p
              class="text-5xl font-medium"
              style="
                color: var(--background) !important;
                border-top: solid 1px var(--background);
              "
            >
              Juwelier Breuch
            </p>
          </div>
        </div>
      </div>
      >
    </div>
  </section>
</div>

<div class="backgroundLayer">
  <section class="mx-auto max-w-screen-xl px-6 py-12">
    <h2 class="text-left text-4xl font-bold mb-6">
      Ihr Zuhause für einzigartige Trauringe und präzise Uhrmacherkunst in
      Greven!
    </h2>

    <div class="flex flex-col lg:flex-row items-center justify-between gap-12">
      <div class="basis-auto flex flex-col mb-auto gap-4">
        <p>
          Herzlich willkommen bei Puls der Zeit - Ihrem Experten für
          einzigartige Trauringe und präzise Uhrmacherkunst in Greven! Entdecken
          Sie in unserem Ladengeschäft die Symbiose aus Liebe zum Detail,
          fachkundiger Beratung und fairem Preis-Leistungs-Verhältnis. Wir
          freuen uns darauf, Sie in die Welt von zeitloser Eleganz und
          handwerklicher Meisterschaft zu entführen.
        </p>

        <p>
          Willkommen bei Juwelier Breuch - wo Ihre besonderen Momente zu
          kostbaren Erinnerungen werden!
        </p>

        <p>
          Sollten Sie weitere Fragen haben, können Sie uns gerne kontaktieren!
        </p>
      </div>
    </div>
  </section>

  <section class="px-6 pb-12">
    <div class="mx-auto max-w-screen-xl">
      <h3 class="mb-6 text-right text-3xl font-bold tracking-tight">
        ZU UNSEREN LEISTUNGEN
      </h3>
      <div class="mx-auto max-w-screen-xl">
        <div class="grid gap-6 md:grid-cols-3">
          <div
            class="mehrErfahrenBox zoom shadow-lg rounded-lg relative overflow-hidden bg-no-repeat bg-cover"
            style="background-position: 50%; cursor: pointer"
            data-mdb-ripple="true"
            data-mdb-ripple-color="dark"
            routerLink="/leistungen/trauringe"
            routerLinkActive="routeIsActive"
          >
            <img
              src="../../../../../assets/_assets/home/s1/2singe auf teppich.png"
              class="w-full h-full object-contain transition duration-300 ease-linear align-middle"
            />
            <a>
              <div
                class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
                style="background-color: rgba(0, 0, 0, 0.3)"
              >
                <div class="flex justify-start items-end h-full">
                  <div class="gap-2 m-4">
                    <h5 class="text-lg font-bold text-white">Trauringe</h5>
                  </div>
                </div>
              </div>
              <div class="hover-overlay">
                <div
                  class="mask absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
                  style="background-color: rgba(253, 253, 253, 0.15)"
                ></div>
              </div>
            </a>
          </div>
          <div
            class="mehrErfahrenBox zoom shadow-lg rounded-lg relative overflow-hidden bg-no-repeat bg-cover"
            style="background-position: 50%; cursor: pointer"
            data-mdb-ripple="true"
            data-mdb-ripple-color="dark"
            routerLink="/leistungen/uhren"
            routerLinkActive="routeIsActive"
          >
            <img
              src="../../../../../assets/_assets/home/s1/Uhr1.png"
              class="w-full h-full object-contain transition duration-300 ease-linear align-middle"
            />
            <a>
              <div
                class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
                style="background-color: rgba(0, 0, 0, 0.3)"
              >
                <div class="flex justify-start items-end h-full">
                  <div class="gap-2 m-4">
                    <h5 class="text-lg font-bold text-white">Uhren</h5>
                  </div>
                </div>
              </div>
              <div class="hover-overlay">
                <div
                  class="mask absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
                  style="background-color: rgba(253, 253, 253, 0.15)"
                ></div>
              </div>
            </a>
          </div>
          <div
            class="mehrErfahrenBox zoom shadow-lg rounded-lg relative overflow-hidden bg-no-repeat bg-cover"
            style="background-position: 50%; cursor: pointer"
            data-mdb-ripple="true"
            data-mdb-ripple-color="dark"
            routerLink="/leistungen/schmuck"
            routerLinkActive="routeIsActive"
          >
            <img
              src="../../../../../assets/_assets/home/s1/Halskette.jpg"
              class="w-full h-full object-contain transition duration-300 ease-linear align-middle"
            />
            <a>
              <div
                class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
                style="background-color: rgba(0, 0, 0, 0.3)"
              >
                <div class="flex justify-start items-end h-full">
                  <div class="gap-2 m-4">
                    <h5 class="text-lg font-bold text-white">Schmuck</h5>
                  </div>
                </div>
              </div>
              <div class="hover-overlay">
                <div
                  class="mask absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
                  style="background-color: rgba(253, 253, 253, 0.15)"
                ></div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="mx-auto mt-12 max-w-screen-xl flex items-center justify-center">
      <button
        [routerLink]="['/kontakt']"
        routerLinkActive="routeIsActive"
        class="px-6 py-3 inline-block rounded border-2 border-[var(--accent-X)] text-[var(--textcolor)] hover:border-[var(--accent)] hover:bg-[var(--accent-X)] transition duration-300 ease-in-out"
      >
        Kontaktieren Sie uns!
      </button>
    </div>
  </section>
</div>
