<div #start class="w-full flex">
    <section
      class="w-full text-gray-800 text-center lg:text-left background-radial-gradient"
    >
      <div
        class="relative overflow-hidden bg-no-repeat bg-cover"
        style="
          background-position: 50% 0%;
          background-image: linear-gradient(
              to right,
              rgba(255, 255, 255, 0),
              rgba(99, 99, 99, 0.3)
            ),
            url('../../../../assets/_assets/home/s2/Laden02.jpg');
  
          height: 50vh;
        "
      >
        <div class="flex flex-col h-[50vh] max-w-screen-xl mx-auto">
          <div class="flex justify-center lg:justify-end items-center flex-grow">
            <div class="rounded-sm text-center py-6 lg:mr-3">
              <h1
                class="text-4xl mb-2 font-bold"
                style="color: var(--background) !important"
              >
                Schmuck von
              </h1>
              <p
                class="text-5xl font-medium"
                style="
                  color: var(--background) !important;
                  border-top: solid 1px var(--background);
                "
              >
                Juwelier Breuch
              </p>
            </div>
          </div>
        </div>
        >
      </div>
    </section>
  </div>
  
  <div class="backgroundLayer">
    <section class="mx-auto max-w-screen-xl px-6 py-12">
      <h2 class="text-left text-4xl font-bold mb-6">
        Unvergängliche Symbole der Liebe
      </h2>
  
      <div class="flex flex-col lg:flex-row items-center justify-between gap-12">
        <div class="basis-auto flex flex-col mb-auto gap-4">
          <p>
            Trauringe sind mehr als nur Schmuckstücke – sie sind ein Symbol der
            Liebe, das ein Leben lang währt. Unsere exquisiten Kollektionen bieten
            eine breite Auswahl an Stilen, von klassisch und schlicht bis hin zu
            modern und extravagant. Jedes Paar Trauringe wird mit Sorgfalt und
            Liebe zum Detail gefertigt, um Ihre einzigartige Verbindung zu
            repräsentieren.
          </p>
  
          <p>
            Willkommen bei Juwelier Breuch - wo Ihre besonderen Momente zu
            kostbaren Erinnerungen werden!
          </p>
  
          <p>
            Sollten Sie weitere Fragen haben, können Sie uns gerne kontaktieren!
          </p>
        </div>
      </div>
    </section>
  
    <section class="pb-12">
      <div class="mx-auto max-w-screen-xl">
        <h3 class="mb-6 px-6 text-right text-3xl font-bold tracking-tight">
          SCHMUCK
        </h3>
        <div class="mx-auto max-w-screen-xl">
          <swiper-container
            #sC1
            class="mySwiper px-6"
            init="false"
            navigation="true"
            pagination-clickable="true"
            loop="true"
            autoplay-delay="3800" autoplay-disable-on-interaction="true" speed="1000"
          >
            <swiper-slide>Slide 1</swiper-slide>
            <swiper-slide>Slide 2</swiper-slide>
            <swiper-slide>Slide 3</swiper-slide>
            <swiper-slide>Slide 4</swiper-slide>
            <swiper-slide>Slide 5</swiper-slide>
            <swiper-slide>Slide 6</swiper-slide>
            <swiper-slide>Slide 7</swiper-slide>
            <swiper-slide>Slide 8</swiper-slide>
            <swiper-slide>Slide 9</swiper-slide>
          </swiper-container>
        </div>
      </div>
    </section>
  </div>
  
  <!-- Container for demo purpose -->
  <div style="background-color: var(--background)">
    <!-- Section: Design Block -->
    <section class="mx-auto max-w-screen-xl px-6 py-12">
      <div class="flex flex-wrap flex-col-reverse md:flex-row">
        <div class="w-full shrink-0 grow-0 basis-auto md:w-3/12">
          <img
            src=""
            class="w-full rounded-lg shadow-lg dark:shadow-black/20"
            alt="Avatar"
          />
        </div>
  
        <div
          class="mb-6 md:mb-0 w-full shrink-0 grow-0 basis-auto text-center md:w-9/12 md:pl-12 md:text-left"
        >
          <h5 class="mb-6 text-xl font-semibold">Anna Maria Doe</h5>
          <ul
            class="list-inside mb-6 flex justify-center space-x-4 md:justify-start"
          >
            <a  >
              <!-- Facebook -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"
                />
              </svg>
            </a>
            <a  >
              <!-- Twitter -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                class="h-4 w-4"
              >
                <path
                  fill="currentColor"
                  d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"
                />
              </svg>
            </a>
            <a  >
              <!-- Linkedin -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                class="h-3.5 w-3.5"
              >
                <path
                  fill="currentColor"
                  d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z"
                />
              </svg>
            </a>
          </ul>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
            est ab iure inventore dolorum consectetur? Molestiae aperiam atque
            quasi consequatur aut? Repellendus alias dolor ad nam, soluta
            distinctio quis accusantium!
          </p>
        </div>
      </div>
    </section>
    <!-- Section: Design Block -->
  </div>
  
  <div class="divider"></div>
  
  <div style="background-color: var(--toolbar)">
    <div class="max-w-screen-xl py-12 px-6 mx-auto">
      <section>
        <h5 class="text-left text-3xl font-bold mb-6">Häufig gestellte Fragen</h5>
      </section>
  
      <section id="expand" class="gap-x-8 gap-y-4">
        <mat-accordion class="w-full gap-6 flex flex-col">
          <mat-expansion-panel
            hideToggle
            (opened)="panelOpenState1 = true"
            (closed)="panelOpenState1 = false"
          >
            <mat-expansion-panel-header class="flex flex-row">
              
  
              <mat-panel-title class="title-big flex justify-start text-xl pl-6 py-3">
                Was kostet die Bereitstellung und das Hosting einer Website ?
              </mat-panel-title>
              <div
                class="material-symbols-expand mx-auto flex justify-center items-center order-first basis-1/12"
              >
                <svg
                  [ngClass]="panelOpenState1 ? 'open' : 'closed'"
                  xmlns="http://www.w3.org/2000/svg"
                  height="24"
                  viewBox="0 -960 960 960"
                  width="24"
                  style="fill: var(--accent)"
                >
                  <path
                    d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z"
                  />
                </svg>
              </div>
            </mat-expansion-panel-header>
            <p class="text-lg text-left">
              Die Preise einer Website können stark variieren und sind bemessen an
              dem jeweiligen Umfang der Website. Für das Hosting einer Website
              sind Monatliche Tarife von 50 bis 100€ realistisch.
            </p>
  
            <!-- <ul class="expansion-list text-sm text-left" style="list-style: inside">
                  <li>
                    <b>Höhere Haltbarkeit:</b> Glas-Glas-Module sind in der Regel
                    langlebiger und widerstandsfähiger gegenüber Umwelteinflüssen wie
                    Feuchtigkeit, Temperaturschwankungen und mechanischer Beanspruchung.
                    Sie haben eine längere Lebensdauer als herkömmliche Solarmodule.
                  </li>
                  <li>
                    <b>Bessere Stabilität:</b> Die doppelte Glasabdeckung erhöht die
                    strukturelle Stabilität der Module, was sie weniger anfällig für
                    Risse und Brüche macht.
                  </li>
                  <li>
                    <b>Verbesserte Leistung:</b> Aufgrund der besseren Haltbarkeit
                    können Glas-Glas-Module über die Zeit eine konstantere Leistung
                    liefern, da sie weniger anfällig für Degradation sind.
                  </li>
                </ul> -->
          </mat-expansion-panel>
  
          <mat-expansion-panel
            hideToggle
            (opened)="panelOpenState2 = true"
            (closed)="panelOpenState2 = false"
          >
            <mat-expansion-panel-header class="flex flex-row">
              
  
              <mat-panel-title class="title-big flex justify-start text-xl pl-6 py-3">
                Benutzerzufriedenheit und
                Suchmaschinenergebnisse!</mat-panel-title
              >
              <div
                class="material-symbols-expand mx-auto flex justify-center items-center order-first basis-1/12"
              >
                <svg
                  [ngClass]="panelOpenState2 ? 'open' : 'closed'"
                  xmlns="http://www.w3.org/2000/svg"
                  height="24"
                  viewBox="0 -960 960 960"
                  width="24"
                  style="fill: var(--accent)"
                >
                  <path
                    d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z"
                  />
                </svg>
              </div>
            </mat-expansion-panel-header>
            <p class="text-lg text-left">
              Mit guten Suchmaschinenergebnissen und schnellen Ladenzeiten
              überzeugen Sie Ihrer Beuscher. Klar ist aber dass die Website
              stimmig und passend zur Branche aufgebaut sein muss um Ihre Besucher
              zum verweilen anzuregen.
            </p>
          </mat-expansion-panel>
  
          <mat-expansion-panel
            hideToggle
            (opened)="panelOpenState3 = true"
            (closed)="panelOpenState3 = false"
          >
            <mat-expansion-panel-header class="flex flex-row">
              
  
              <mat-panel-title class="title-big flex justify-start text-xl pl-6 py-3">
                Wie sind die Gestaltungsmöglichkeiten meiner Website ?
              </mat-panel-title>
              <div
                class="material-symbols-expand mx-auto flex justify-center items-center order-first basis-1/12"
              >
                <svg
                  [ngClass]="panelOpenState3 ? 'open' : 'closed'"
                  xmlns="http://www.w3.org/2000/svg"
                  height="24"
                  viewBox="0 -960 960 960"
                  width="24"
                  style="fill: var(--accent)"
                >
                  <path
                    d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z"
                  />
                </svg>
              </div>
            </mat-expansion-panel-header>
            <p class="text-lg text-left">
              Mit Ihrer Idee entwickeln wir eine kostenlose Demo, die visuell
              beeindruckt und ein Design aufweist, dass neugierig macht.
            </p>
          </mat-expansion-panel>
          <mat-expansion-panel
            hideToggle
            (opened)="panelOpenState4 = true"
            (closed)="panelOpenState4 = false"
          >
            <mat-expansion-panel-header class="flex flex-row">
              
  
              <mat-panel-title class="title-big flex justify-start text-xl pl-6 py-3">
                Welche Informationen sind wichtig für die Erstellung Ihre
                Webpräsenz ?
              </mat-panel-title>
              <div
                class="material-symbols-expand mx-auto flex justify-center items-center order-first basis-1/12"
              >
                <svg
                  [ngClass]="panelOpenState4 ? 'open' : 'closed'"
                  xmlns="http://www.w3.org/2000/svg"
                  height="24"
                  viewBox="0 -960 960 960"
                  width="24"
                  style="fill: var(--accent)"
                >
                  <path
                    d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z"
                  />
                </svg>
              </div>
            </mat-expansion-panel-header>
            <p class="text-lg text-left">
              Zur Erstellung der Website werden grundlegende Informationen wie
              Farbschema, Text und Bildmaterial sowie die Firmenidentität mit dem
              dazugehörigen Logo benötigt. Um auch rechtlich sicher zu sein sollte
              ebenfalls alle Daten zu Ihrem Unternehmen (Impressum) und dem
              Datenschutz vorliegen.
            </p>
          </mat-expansion-panel>
        </mat-accordion>
      </section>
    </div>
  </div>
  <!-- ## -->
  