<div #start class="w-full flex">
    <section
      class="w-full text-gray-800 text-center lg:text-left background-radial-gradient"
    >
      <div
        class="relative overflow-hidden bg-no-repeat bg-cover"
        style="
          background-position: 50% 50%;
          background-image: linear-gradient(
              to right,
              rgba(255, 255, 255, 0),
              rgba(35, 109, 85, 0.2)
            ),
            url('../../../assets/juwelierbreuch/zwei-goldene-eheringe.jpg');
  
          height: 50vh;
        "
      >
        <div class="flex flex-col h-[50vh] max-w-screen-xl mx-auto">
          <div class="flex justify-center lg:justify-end items-center flex-grow">
            <div class="rounded-sm text-center py-6 lg:mr-3">
              <h1
                class="text-4xl font-bold"
                style="color: var(--toolbar) !important"
              >
                Puls der Zeit
              </h1>
              <p
                class="text-5xl font-medium"
                style="
                  color: var(--toolbar) !important;
                  border-top: solid 1px var(--toolbar);
                "
              >
                Juwelier Breuch
              </p>
            </div>
          </div>
        </div>
        >
      </div>
    </section>
  </div>