<!-- <div #section class="mx-auto max-w-screen-xl">
  <ng-image-slider
    [autoSlide]="{ interval: 0, stopOnHover: true }"
    [animationSpeed]="0"
    [imageSize]="{ width: 320, height: 500, space: 0 }"
    [imagePopup]="false"
    [images]="imageObject"
    #image
    [infinite]="true"
    (imageClick)="imageSliderClick($event)"
    [showArrow]="false"
  ></ng-image-slider>
  <div class="naviagtion flex justify-end items-center px-6">
    <button class="flex justify-center items-center" (click)="prevImageClick()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24"
        viewBox="0 -960 960 960"
        width="24"
      >
        <path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z" />
      </svg>
    </button>
    <button class="flex justify-center items-center" (click)="nextImageClick()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24"
        viewBox="0 -960 960 960"
        width="24"
      >
        <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
      </svg>
    </button>
  </div>
</div> -->

<div class="mx-auto max-w-screen-xl">
  <div class="grid gap-6 md:grid-cols-3">
    <div
      class="mehrErfahrenBox zoom shadow-lg rounded-lg relative overflow-hidden bg-no-repeat bg-cover"
      style="background-position: 50%; cursor: pointer"
      data-mdb-ripple="true"
      data-mdb-ripple-color="dark"
      routerLink="/about"
      fragment="goldschmiede"
    >
      <img
        src="../../../../assets/juwelierbreuch/ZeichnungGoldschmiede.jpg"
        class="w-full transition duration-300 ease-linear align-middle"
      />
      <a>
        <div
          class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
          style="background-color: rgba(0, 0, 0, 0.3)"
        >
          <div class="flex justify-start items-end h-full">
            <h5 class="text-lg font-bold text-white m-6">
              Trauringe
              <p
                class="mehrErfahrenText "
                style="font-size: medium"
              >
                Mehr erfahren >
              </p>
            </h5>
          </div>
        </div>
        <div class="hover-overlay">
          <div
            class="mask absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
            style="background-color: rgba(253, 253, 253, 0.15)"
          ></div>
        </div>
      </a>
    </div>
    <div
      class="mehrErfahrenBox zoom shadow-lg rounded-lg relative overflow-hidden bg-no-repeat bg-cover"
      style="background-position: 50%; cursor: pointer"
      data-mdb-ripple="true"
      data-mdb-ripple-color="dark"
      routerLink="/about"
      fragment="goldschmiede"
    >
      <img
        src="../../../../assets/juwelierbreuch/ZeichnungGoldschmiede.jpg"
        class="w-full transition duration-300 ease-linear align-middle"
      />
      <a>
        <div
          class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
          style="background-color: rgba(0, 0, 0, 0.3)"
        >
          <div class="flex justify-start items-end h-full">
            <h5 class="text-lg font-bold text-white m-6">
              Uhren
              <p
                class="mehrErfahrenText "
                style="font-size: medium"
              >
                Mehr erfahren >
              </p>
            </h5>
          </div>
        </div>
        <div class="hover-overlay">
          <div
            class="mask absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
            style="background-color: rgba(253, 253, 253, 0.15)"
          ></div>
        </div>
      </a>
    </div>
    <div
      class="mehrErfahrenBox zoom shadow-lg rounded-lg relative overflow-hidden bg-no-repeat bg-cover"
      style="background-position: 50%; cursor: pointer"
      data-mdb-ripple="true"
      data-mdb-ripple-color="dark"
      routerLink="/about"
      fragment="goldschmiede"
    >
      <img
        src="../../../../assets/juwelierbreuch/ZeichnungGoldschmiede.jpg"
        class="w-full transition duration-300 ease-linear align-middle"
      />
      <a>
        <div
          class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
          style="background-color: rgba(0, 0, 0, 0.3)"
        >
          <div class="flex justify-start items-end h-full">
            <h5 class="text-lg font-bold text-white m-6">
              Schmuck
              <p
                class="mehrErfahrenText "
                style="font-size: medium"
              >
                Mehr erfahren >
              </p>
            </h5>
          </div>
        </div>
        <div class="hover-overlay">
          <div
            class="mask absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
            style="background-color: rgba(253, 253, 253, 0.15)"
          ></div>
        </div>
      </a>
    </div>
  </div>
</div>
