<div #start class="w-full flex">
  <section
    class="w-full text-gray-800 text-center lg:text-left background-radial-gradient"
  >
    <div
      class="relative overflow-hidden bg-no-repeat bg-cover"
      style="
        background-position: 50% 80%;
        background-image: linear-gradient(
            to right,
            rgba(255, 255, 255, 0),
            rgba(99, 99, 99, 0.3)
          ),
          url('../../../../assets/_assets/home/s1/Halskette.jpg');

        height: 50vh;
      "
    >
      <div class="flex flex-col h-[50vh] max-w-screen-xl mx-auto">
        <div class="flex justify-center lg:justify-end items-center flex-grow">
          <div class="rounded-sm text-center p-6 lg:mr-3">
            <h1
              class="text-4xl mb-2 font-bold"
              style="color: var(--background) !important"
            >
              Schmuck von
            </h1>
            <p
              class="text-5xl font-medium"
              style="
                color: var(--background) !important;
                border-top: solid 1px var(--background);
              "
            >
              Juwelier Breuch
            </p>
          </div>
        </div>
      </div>
      >
    </div>
  </section>
</div>

<div class="backgroundLayer">
  <section class="mx-auto max-w-screen-xl px-6 py-12">
    <h2 class="text-left text-4xl font-bold mb-6">
      Unvergängliche Symbole der Liebe
    </h2>

    <div class="flex flex-col lg:flex-row items-center justify-between gap-12">
      <div class="basis-auto flex flex-col mb-auto gap-4">
        <p>
          Trauringe sind mehr als nur Schmuckstücke – sie sind ein Symbol der
          Liebe, das ein Leben lang währt. Unsere exquisiten Kollektionen bieten
          eine breite Auswahl an Stilen, von klassisch und schlicht bis hin zu
          modern und extravagant. Jedes Paar Trauringe wird mit Sorgfalt und
          Liebe zum Detail gefertigt, um Ihre einzigartige Verbindung zu
          repräsentieren.
        </p>

        <p>
          Willkommen bei Juwelier Breuch - wo Ihre besonderen Momente zu
          kostbaren Erinnerungen werden!
        </p>

        <p>
          Sollten Sie weitere Fragen haben, können Sie uns gerne kontaktieren!
        </p>
      </div>
    </div>
  </section>

  <section class="pb-12">
    <div class="mx-auto max-w-screen-xl">
      <h3 class="mb-6 px-6 text-right text-3xl font-bold tracking-tight">
        SCHMUCK
      </h3>
      <div class="mx-auto max-w-screen-xl">
        <swiper-container
          #sC1
          class="mySwiper px-6"
          init="false"
          navigation="true"
          pagination-clickable="true"
          loop="true"
          autoplay-delay="3800" autoplay-disable-on-interaction="true" speed="1000"
        >
          <swiper-slide>Slide 1</swiper-slide>
          <swiper-slide>Slide 2</swiper-slide>
          <swiper-slide>Slide 3</swiper-slide>
          <swiper-slide>Slide 4</swiper-slide>
          <swiper-slide>Slide 5</swiper-slide>
          <swiper-slide>Slide 6</swiper-slide>
          <swiper-slide>Slide 7</swiper-slide>
          <swiper-slide>Slide 8</swiper-slide>
          <swiper-slide>Slide 9</swiper-slide>
        </swiper-container>
      </div>
    </div>
  </section>
</div>

<!-- Container for demo purpose -->
<div style="background-color: var(--background)">
  <!-- Section: Design Block -->
  <section class="mx-auto max-w-screen-xl px-6 pt-0 md:pt-12 py-12">
    <div class="flex flex-wrap flex-col-reverse md:flex-row">
      <div class="w-full shrink-0 grow-0 basis-auto md:w-3/12">
        <img
          src=""
          class="w-full rounded-lg shadow-lg dark:shadow-black/20"
          alt="Avatar"
        />
      </div>

      <div
        class="mb-6 md:mb-0 w-full shrink-0 grow-0 basis-auto text-left md:w-9/12 md:pl-12 md:text-left"
      >
        <h5 class="mb-4 text-xl font-semibold">Anna Maria Doe</h5>
       
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
          est ab iure inventore dolorum consectetur? Molestiae aperiam atque
          quasi consequatur aut? Repellendus alias dolor ad nam, soluta
          distinctio quis accusantium!
        </p>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
</div>

<div class="divider"></div>

<div style="background-color: var(--toolbar)">
  <div class="max-w-screen-xl py-12 px-6 mx-auto">
    <section>
      <h5 class="text-left text-3xl font-bold mb-6">Häufig gestellte Fragen</h5>
    </section>

    <section id="expand" class="gap-x-8 gap-y-4">
      <mat-accordion class="w-full gap-6 flex flex-col">
        <mat-expansion-panel
          hideToggle
          (opened)="panelOpenState1 = true"
          (closed)="panelOpenState1 = false"
        >
          <mat-expansion-panel-header class="flex flex-row">
            

            <mat-panel-title class="title-big flex justify-start text-xl pl-6 py-3">
              Was kostet die Bereitstellung und das Hosting einer Website ?
            </mat-panel-title>
            <div
              class="material-symbols-expand mx-auto flex justify-center items-center order-first basis-1/12"
            >
              <svg
                [ngClass]="panelOpenState1 ? 'open' : 'closed'"
                xmlns="http://www.w3.org/2000/svg"
                height="24"
                viewBox="0 -960 960 960"
                width="24"
                style="fill: var(--accent)"
              >
                <path
                  d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z"
                />
              </svg>
            </div>
          </mat-expansion-panel-header>
          <p class="text-lg text-left">
            Die Preise einer Website können stark variieren und sind bemessen an
            dem jeweiligen Umfang der Website. Für das Hosting einer Website
            sind Monatliche Tarife von 50 bis 100€ realistisch.
          </p>

          <!-- <ul class="expansion-list text-sm text-left" style="list-style: inside">
                <li>
                  <b>Höhere Haltbarkeit:</b> Glas-Glas-Module sind in der Regel
                  langlebiger und widerstandsfähiger gegenüber Umwelteinflüssen wie
                  Feuchtigkeit, Temperaturschwankungen und mechanischer Beanspruchung.
                  Sie haben eine längere Lebensdauer als herkömmliche Solarmodule.
                </li>
                <li>
                  <b>Bessere Stabilität:</b> Die doppelte Glasabdeckung erhöht die
                  strukturelle Stabilität der Module, was sie weniger anfällig für
                  Risse und Brüche macht.
                </li>
                <li>
                  <b>Verbesserte Leistung:</b> Aufgrund der besseren Haltbarkeit
                  können Glas-Glas-Module über die Zeit eine konstantere Leistung
                  liefern, da sie weniger anfällig für Degradation sind.
                </li>
              </ul> -->
        </mat-expansion-panel>

        <mat-expansion-panel
          hideToggle
          (opened)="panelOpenState2 = true"
          (closed)="panelOpenState2 = false"
        >
          <mat-expansion-panel-header class="flex flex-row">
            

            <mat-panel-title class="title-big flex justify-start text-xl pl-6 py-3">
              Benutzerzufriedenheit und
              Suchmaschinenergebnisse!</mat-panel-title
            >
            <div
              class="material-symbols-expand mx-auto flex justify-center items-center order-first basis-1/12"
            >
              <svg
                [ngClass]="panelOpenState2 ? 'open' : 'closed'"
                xmlns="http://www.w3.org/2000/svg"
                height="24"
                viewBox="0 -960 960 960"
                width="24"
                style="fill: var(--accent)"
              >
                <path
                  d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z"
                />
              </svg>
            </div>
          </mat-expansion-panel-header>
          <p class="text-lg text-left">
            Mit guten Suchmaschinenergebnissen und schnellen Ladenzeiten
            überzeugen Sie Ihrer Beuscher. Klar ist aber dass die Website
            stimmig und passend zur Branche aufgebaut sein muss um Ihre Besucher
            zum verweilen anzuregen.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel
          hideToggle
          (opened)="panelOpenState3 = true"
          (closed)="panelOpenState3 = false"
        >
          <mat-expansion-panel-header class="flex flex-row">
            

            <mat-panel-title class="title-big flex justify-start text-xl pl-6 py-3">
              Wie sind die Gestaltungsmöglichkeiten meiner Website ?
            </mat-panel-title>
            <div
              class="material-symbols-expand mx-auto flex justify-center items-center order-first basis-1/12"
            >
              <svg
                [ngClass]="panelOpenState3 ? 'open' : 'closed'"
                xmlns="http://www.w3.org/2000/svg"
                height="24"
                viewBox="0 -960 960 960"
                width="24"
                style="fill: var(--accent)"
              >
                <path
                  d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z"
                />
              </svg>
            </div>
          </mat-expansion-panel-header>
          <p class="text-lg text-left">
            Mit Ihrer Idee entwickeln wir eine kostenlose Demo, die visuell
            beeindruckt und ein Design aufweist, dass neugierig macht.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel
          hideToggle
          (opened)="panelOpenState4 = true"
          (closed)="panelOpenState4 = false"
        >
          <mat-expansion-panel-header class="flex flex-row">
            

            <mat-panel-title class="title-big flex justify-start text-xl pl-6 py-3">
              Welche Informationen sind wichtig für die Erstellung Ihre
              Webpräsenz ?
            </mat-panel-title>
            <div
              class="material-symbols-expand mx-auto flex justify-center items-center order-first basis-1/12"
            >
              <svg
                [ngClass]="panelOpenState4 ? 'open' : 'closed'"
                xmlns="http://www.w3.org/2000/svg"
                height="24"
                viewBox="0 -960 960 960"
                width="24"
                style="fill: var(--accent)"
              >
                <path
                  d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z"
                />
              </svg>
            </div>
          </mat-expansion-panel-header>
          <p class="text-lg text-left">
            Zur Erstellung der Website werden grundlegende Informationen wie
            Farbschema, Text und Bildmaterial sowie die Firmenidentität mit dem
            dazugehörigen Logo benötigt. Um auch rechtlich sicher zu sein sollte
            ebenfalls alle Daten zu Ihrem Unternehmen (Impressum) und dem
            Datenschutz vorliegen.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </section>
  </div>
</div>
<!-- ## -->
