@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */
  .banner {
    height: 190px;
    width: 100%;
    background-position: 50% 10%;
    background-image: url(../../../assets/new/antrag.png);
    opacity: 0.9;
    background-repeat: no-repeat;
  }
}

@supports not (-webkit-touch-callout: none) {
  /* CSS for other than iOS devices */
  .banner {
    height: 190px;
    width: 100%;
    background-position: 50% 50%;
    background-image: url(../../../assets/new/antrag.png);
    opacity: 0.9;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

div.anchor {
  display: block !important;
  position: relative !important;
  top: -85px !important;
  visibility: hidden !important;
}
