.backgroundLayer {
    // background-image: url(../../../../assets/_assets/home/s2/taschenuhr_opacity.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
  }
  
  swiper-container {
    width: 100%;
    height: 100%;
  }
  
  swiper-slide {
    height: 200px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  ::ng-deep .swiper-button-next,
  .swiper-button-prev {
    color: var(--accent, var(--accent-X)) !important;
  }
  
  .divider {
    max-width: 1280px;
    margin-inline: auto;
    color: var(--accent);
    font-size: 6vh;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.45);
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    &::before,
    &::after {
      content: "";
      display: block;
      height: 0.09em;
      min-width: 30vw;
    }
  
    &::before {
      background: linear-gradient(
        to right,
        rgba(240, 240, 240, 0),
        var(--accent)
      );
    }
  
    &::after {
      background: linear-gradient(to left, rgba(240, 240, 240, 0), var(--accent));
    }
  }
  
  ::ng-deep mat-expansion-panel {
    border-radius: 0.5rem !important;
    background-color: var(--background) !important;
    height: auto !important;
    min-height: 50px !important ;
  }
  ::ng-deep mat-expansion-panel-header {
    border-radius: 0.5rem !important;
    background-color: var(--background) !important;
    height: auto !important;
    min-height: 50px !important ;
    p {
      font-size: 1rem !important;
      line-height: 1.5rem !important;
    }
  }
  
  ::ng-deep .mat-expansion-panel:not([class*="mat-elevation-z"]) {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1) !important;
  }
  
  ::ng-deep .mat-expansion-panel-body {
    padding: 24px !important;
    padding-top: 6px !important;
  }
  
  .open {
    transition: var(--longTransition);
    transform: rotate(-180deg);
  }
  
  .closed {
    transition: var(--longTransition);
    transform: rotate(0deg);
  }
  